name: End To End

on:
  push:
    branches: [master]
#  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: Build k8s-dqlite
        run: |
          make static
      - name: Running test
        run: |
          mkdir dir
          ./bin/static/k8s-dqlite --enable-tls=false --storage-dir=dir &

          git clone https://github.com/etcd-io/etcd.git
          cd etcd
          git checkout release-3.5
          cd tools/benchmark
          go build .
          ./benchmark --endpoints http://127.0.0.1:12379 range asd
