name: Go

on:
  push:
    branches: [master, 1.29]
  pull_request:

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: go mod download
        run: go mod download

      - name: go fmt
        run: make go.fmt

      - name: check diff
        run: |
          if ! [ -z "$(git diff)" ]; then
            echo "Detected changes that have not been committed to the repository"
            echo "Please run 'make go.fmt'"
            echo "git diff:"
            git diff
            exit 1
          fi

      - name: go vet
        run: make go.vet

  tests-sqlite:
    name: Test sqlite
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: go mod download
        run: go mod download

      - name: Run tests
        run: make go.test

  tests-dqlite:
    name: Test dqlite
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: go mod download
        run: go mod download

      - name: Run tests
        run: make go.test.dqlite

  benchmarks:
    name: Benchmark sqlite
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: go mod download
        run: go mod download

      - name: Run benchmarks
        run: make go.bench

  benchmarks-dqlite:
    name: Benchmark dqlite
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: go mod download
        run: go mod download

      - name: Run benchmarks
        run: make go.bench.dqlite

  build:
    name: Build k8s-dqlite
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build static binaries
        run: |
          make -j static

          ./bin/static/k8s-dqlite --help
          ./bin/static/k8s-dqlite migrator --help
          ./bin/static/dqlite --help

      - name: Build shared binaries
        run: |
          make -j dynamic

          ./bin/dynamic/k8s-dqlite --help
          ./bin/dynamic/k8s-dqlite migrator --help
          ./bin/dynamic/dqlite --help
