name: Integration Test K8s-snap

on:
  push:
    #todo revert before pr
    branches: ["KU-1748/optional-cncf-conformance-tests"]
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: K8s-snap Integration Test
    runs-on: ubuntu-20.04

    steps:
#      - name: Checking out repo
#        uses: actions/checkout@v4
#      - name: Setup Python
#        uses: actions/setup-python@v5
#        with:
#          python-version: "3.8"
#      - name: Install tox
#        run: pip install tox
#      - name: Install Go
#        uses: actions/setup-go@v5
#        with:
#          go-version: "1.21"
#      - name: Download latest k8s-snap
#        run: |
#          sudo snap download k8s --channel=latest/edge --basename k8s
#      - name: Install lxd
#        run: |
#          sudo snap refresh lxd --channel 5.21/stable
#          sudo lxd init --auto
#          sudo usermod --append --groups lxd $USER
#          sg lxd -c 'lxc version'
#      - name: Build k8s-dqlite
#        run: |
#          make static
#      - name: Unpack Snap
#        run: |
#          sudo unsquashfs -d snap-unpack-dir k8s.snap
#      - name: Replace k8s-dqlite binary
#        run: |
#          sudo cp ./bin/static/k8s-dqlite snap-unpack-dir/bin/k8s-dqlite
#          sudo chmod o+r snap-unpack-dir/bin/k8s-dqlite
#      - name: Repack Snap
#        run: |
#          sudo mksquashfs snap-unpack-dir k8s-updated.snap -noappend -comp lzo -no-fragments
      - name: Running
        env:
          TEST_SNAP: ${{ github.workspace }}/k8s-updated.snap
          TEST_SUBSTRATE: lxd
          TEST_LXD_IMAGE: ubuntu:22.04
          TEST_INSPECTION_REPORTS_DIR: ${{ github.workspace }}/inspection-reports
        run: |
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'dependencies') }}" || "${{ github.ref_name }}" == "KU-1748/optional-cncf-conformance-tests1" ]]; then
            export TEST_CNCF_E2E="true"
          fi
          echo TEST_CNCF_E2E
          echo $TEST_CNCF_E2E
      - name: postrun
        if: ${{ ( contains(github.event.pull_request.labels.*.name, 'dependencies') || github.ref_name  == 'KU-1748/optional-cncf-conformance-tests1' ) }}
        run: |
          echo test

#          git clone https://github.com/canonical/k8s-snap.git -b KU-1748/optional-cncf-conformance-tests
#          # todo revert before merge git clone https://github.com/canonical/k8s-snap.git
#          cd k8s-snap/tests/integration && sg lxd -c 'tox -e integration'
#      - name: Prepare inspection reports
#        if: failure()
#        run: |
#          tar -czvf inspection-reports.tar.gz -C ${{ github.workspace }} inspection-reports
#      - name: Upload inspection report artifact
#        if: failure()
#        uses: actions/upload-artifact@v4
#        with:
#          name: inspection-reports
#          path: ${{ github.workspace }}/inspection-reports.tar.gz
#      - name: Extract CNCF conformance report
#        if: ${{ failure() && ( github.event.label.name == 'dependencies'|| github.ref_name  == 'KU-1748/optional-cncf-conformance-tests' ) }}
#        working-directory: k8s-snap/tests/integration
#        run: |
#          tar -xf sonobuoy_e2e.tar.gz --one-top-level
#      - name: Upload CNCF conformance report artifact
#        uses: actions/upload-artifact@v4
#        if: ${{ failure() && ( github.event.label.name == 'dependencies'|| github.ref_name  == 'KU-1748/optional-cncf-conformance-tests' ) }}
#        with:
#          name: report_sonobuoy_e2e
#          path: k8s-snap/tests/integration/sonobuoy_e2e