name: Trivy

on:
  pull_request:
  schedule:
    - cron: '0 10 * * *'

jobs:
  scan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: [master]
    permissions:
      security-events: write
      actions: read
    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.23.0
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "output.sarif"
          severity: "MEDIUM,HIGH,CRITICAL"
      - name: Get commit sha
        run: |
          SHA="$(git rev-parse HEAD)"
          echo "head_sha=$SHA" >> "$GITHUB_ENV"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "output.sarif"
          sha: ${{ env.head_sha }}
          ref: refs/heads/${{ matrix.branch }}
